<div class="row">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Last Chatbot Alerts</h4>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Date</th>
                                                <th>Message</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>18-01-2018</td>
                                                <td>Prohaska</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>23-02-2018</td>
                                                <td>Gaylord</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>03-03-2018</td>
                                                <td>Gusikowski</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>04-05-2018</td>
                                                <td>Rogahn</td>
                                            </tr>
                                            <tr>
                                              <td>5</td>
                                              <td>04-05-2018</td>
                                              <td>Rogahn</td>
                                            </tr>
                                            <tr>
                                              <td>6</td>
                                              <td>04-05-2018</td>
                                              <td>Rogahn</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- column -->
</div>
